a{
	color: $red;
	&:hover{
		color: darken(red,20%);
	}
}

.text {
	&-navy {
		color: $navy;
	}
	&-orange {
		color: $orange;
	}
	&-white {
		color: $white;
	}
	&-yellow {
		color: $yellow;
	}
	&-teal{
		color: $teal;
	}
}
.background {
	&-navy {
		background-color: $navy;
	}
	&-teal {
		background-color: $teal;
	}
	&-orange {
		background-color: $orange;
	}
	&-white {
		background-color: $white;
	}
	&-slate {
		background-color: $slate;
	}
	&-red {
		background-color: $red;
	}
}

.right {
	right: 0;
}
.bottom {
	bottom: 0;
}
.arrow-link {
	width: 32px; height: 32px;
	border-radius: 50%;
	border: 2px solid $orange;
	background-color: fade-out($orange, 1);
	transition: background-color .25s ease-out;
	text-decoration: none;
	font-size: 24px;
	@include media-breakpoint-up(sm) {
		width: 64px; height: 64px;
		font-size: 32px;
	}
	&:hover, &:active {
		background-color: fade-out($orange, 0);
		text-decoration: none;
	}
}
.header {
	background-color: $teal;
	background-image: url('../images/photos/header.jpg');
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	padding: $spacer*3 0 $spacer*6;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-moz-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-ms-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	-o-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
	position: relative;
	@media screen and (min-width: 768px){
		padding: $spacer*8 0 $spacer*10;
	}
}
.masthead {
	background-size: cover;
	background-repeat: no-repeat;
	&-home {
		background-position: right top;
		@include media-breakpoint-down(sm){
			background: none!important;
		}
		@include media-breakpoint-up(md){
			background-size: 60%;
		}
	}
	&-internal {
		background-position: right bottom;
		@include media-breakpoint-down(sm){
			background: none!important;
		}
		@include media-breakpoint-up(md){
			background-position: 80% top;
			background-size: auto 140%;
		}
	}
}.badge-year {
	@extend .background-orange;
	@extend .text-navy;
	@extend .position-absolute;
	font-size: $spacer*1.5;
	line-height: .875;
	width: 64px; height: 64px;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	bottom: -32px; right: 10px;
	z-index: 10;
	@media screen and (min-width: 375px){
		bottom: -20px; right: 10px;
	}
	@media screen and (min-width: 768px){
		font-size: $spacer*2;
		width: 96px; height: 96px;
	}
	@media screen and (min-width: 1024px){
		font-size: $spacer*2.5;
		width: 128px; height: 128px;
		bottom: -40px; right: 0px;
	}
}