<footer class="footer">
	<div class="mx-md-3 mb-md-3 background-red background-img-size-cover background-img-center-center background-repeat-no py-5" style="background-image: url('/assets/images/photos/red-blur-2.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<p class="mt-0 mb-3 h1 text-white text-upper">activate with us</p>
					<script async src="https://widget.picatic.com/latest/js/embed.min.js" id="picatic-widget-script"></script>

					<a href="https://www.picatic.com/140837" class="btn btn-lg btn-ghost btn-ghost-white text-yellow text-capitalize py-3 pl-5 pr-5">register today</a>
				</div>
			</div>
		</div>
	</div>
</footer>