<section class="section workshops students background-teal py-5 mx-3">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3 class="h3 text-center text-white mb-5">{{block.heading}}</h3>
			</div>
		</div>
		<div class="row justify-content-center">

		{% for presentation in block.presentationSelect %}
			<div class="col-11 col-md-6 col-lg-5 mb-4">
				<div class="card card-person background-navy p-2  h-100">
					<div class="row">
						<div class="card-body col-md-7">
							<h3 class="h3 text-orange text-capitalize">{{presentation.presenterName}}</h3>
							<p class="small">{{presentation.presenterJobTitle}}</p>
							<p class="text-white">{{presentation.presentationName}}</p>
							{% if presentation.trackCategorySelect.first %}<p class="text-white">{{presentation.trackCategorySelect.first.title}} Track</p>{% endif %}
							<p class="text-white">{{presentation.time}}</p>
							
						</div>
						<div class="card-footer col-md-5 h-100">
							<div class=" img-bio-wrapper background-teal">
								{% if presentation.featureImageUpload.first %}<img class=" img-fluid" src="{{presentation.featureImageUpload.first.square.url}}" alt="{{presentation.presenterName}}">{% endif %}
							</div>
						</div>
					</div>
					<p class="text-white small">{{presentation.presentationDescription}}</p>
				</div>
			</div>
		{% endfor %}
			
		</div>
	</div>
</section>