<section class="section mailing background-white py-5" id="mailing">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-11 col-md-5">
				<h2 class="h2 text-navy">Join our mailing list</h2>
				<p class="my-0 text-navy">Get event updates as we get closer to the big event.</p>
			</div>
			<div class="col-11 col-md-5">
				<form class="form form-inline validate" action="https://activateconf.us12.list-manage.com/subscribe/post?u=1698009cda135b7f9480768e9&amp;id=fcac1eaf38" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
					<div class="form-group form-group-inline">
						<input type="email" class="form-control form-control-inline required email" aria-describedby="emailHelp" placeholder="Your email" value="" name="EMAIL" id="mce-EMAIL">
						<input type="submit" value="&rarr;" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response text-danger mt-1" id="mce-error-response" style="display:none"></div>
						<div class="response text-success mt-1" id="mce-success-response" style="display:none"></div>
					</div> 
				</form>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
				<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			</div>
		</div>
	</div>
</section>