<section class="section masthead masthead-internal background-white py-5" style="background-image: url('/assets/images/photos/activate-founder-st-joseph-student.jpg');">
	<div class="container">
		<div class="col-12 col-md-6">
			<h2 class="h2 text-navy mb-5"><small class="text-teal text-upper">day 1</small><br />workshops</h2>
			<p class="text-navy">Our goal is to bring awareness of this field to the young community and build bridges between the future and current workforce in order to increase interest in careers in technology. We also invite current professionals to participate in furthering their skills to build a stronger workforce.</p>
		</div>
	</div>
</section>