.text {
	&-navy {
		color: $navy;
	}
	&-orange {
		color: $orange;
	}
	&-white {
		color: $white;
	}
	&-yellow {
		color: $yellow;
	}
}
.background {
	&-navy {
		background-color: $navy;
	}
	&-teal {
		background-color: $teal;
	}
	&-orange {
		background-color: $orange;
	}
	&-white {
		background-color: $white;
	}
	&-slate {
		background-color: $slate;
	}
	&-red {
		background-color: $red;
	}
}

.right {
	right: 0;
}
.bottom {
	bottom: 0;
}